---
import fs from "fs";
const bashCode = fs.readFileSync("./src/assets/script.txt", "utf8");
---
<div class="flex flex-col gap-4 w-full h-full bg-gray-950 pt-20 justify-center items-center" id="entrega5">
    <div class="text-center mb-5">
        <h1 class="text-center font-bold text-3xl text-heading mb-5">Entrega 2 actividad 3</h1>
        <p class="text-heading text-xl">En esta entrega veremos los script en bash en la distribucion debian en entorno consola</p>
    </div>
    <div class="max-w-3xl mx-auto">

        <h1 class="text-3xl font-bold text-heading mb-6">
            Codigo bash en Debian
        </h1>
        <p class="text-heading text-xl mb-6">Este codigo de bash implementael script con los argumento de limpiar que borra los archivos temporales, limpiar la cache de sistema, el argumento actualizar que actualiza el sistema por completo y ademas elimiar los archivos de apt que ya no son necesarios , el argumento completo que ejecuta las funciones de limpiar y actualizar, por ultimo el argumento ayuda que muestras las opciones del script</p>
        <div class="bg-gray-900 text-gray-100 rounded-xl shadow-lg relative overflow-hidden">

            <div class="flex space-x-2 px-4 py-2 bg-gray-800">
                <span class="w-3 h-3 bg-red-500 rounded-full"></span>
                <span class="w-3 h-3 bg-yellow-500 rounded-full"></span>
                <span class="w-3 h-3 bg-green-500 rounded-full"></span>
            </div>

            <pre class="p-4 overflow-x-auto text-sm">
<code class="language-bash">{bashCode}</code>
      </pre>
        </div>

    </div>
    <a
            href="https://youtu.be/W6XBYGGJ1v4"
            target="_blank"
            rel="noopener noreferrer"
            class="px-4 py-2 text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg shadow transition-all"
    >
        Video Evidencia
    </a>
</div>