---
import paso1 from "../assets/Entrega2/elegir idioma.png";
import paso2 from "../assets/Entrega2/elegir ubicacion.png";
import paso3 from "../assets/Entrega2/elegir teclado.png";
import paso4 from "../assets/Entrega2/nombre maquina.png";
import paso5 from "../assets/Entrega2/clave de su.png";
import paso6 from "../assets/Entrega2/usuario.png";
import paso7 from "../assets/Entrega2/contrasena usuario.png";
import paso8 from "../assets/Entrega2/elegir metodo particion.png";
import paso9 from "../assets/Entrega2/elegir disco.png";
import paso10 from "../assets/Entrega2/crear tabla de particiones.png";
import paso11 from "../assets/Entrega2/selecionar disco.png";
import paso12 from "../assets/Entrega2/crear particion.png";
import paso13 from "../assets/Entrega2/elegir tamaño.png";
import paso14 from "../assets/Entrega2/elegir como utilizar.png";
import paso15 from "../assets/Entrega2/particion swap.png";
import paso16 from "../assets/Entrega2/elegir tamaño home.png";
import paso17 from "../assets/Entrega2/particion home.png";
import paso18 from "../assets/Entrega2/elegir tamaño raiz.png";
import paso19 from "../assets/Entrega2/particion raiz.png";
import paso20 from "../assets/Entrega2/finalizar particionamiento.png";
import paso21 from "../assets/Entrega2/confirmar particionamiento.png";
import paso22 from "../assets/Entrega2/elegir programas.png";
import paso23 from "../assets/Entrega2/lugar instalar arranque.png";
import paso24 from "../assets/Entrega2/terminar instalacion.png";
import comprobacionInternet from "../assets/Entrega2/comprobacion de internet.png"
import comprobacionHerramientras from "../assets/Entrega2/comprobacion herramientas.png"
import comprobacionHerramientras2 from "../assets/Entrega2/comprobacion herramientas (2).png"
import esquema from "../assets/Entrega2/esquema.png";

import CardPaso from "../components/CardsPasos.astro";

const pasos = [
    { titulo: "Paso 1", imagen: paso1.src, descripcion: "Elegimos el idioma del teclado" },
    { titulo: "Paso 2", imagen: paso2.src, descripcion: "Elegimos la ubicacion" },
    { titulo: "Paso 3", imagen: paso3.src, descripcion: "Elegimos el teclado" },
    { titulo: "Paso 4", imagen: paso4.src, descripcion: "Escogemos nombre de la maquina" },
    { titulo: "Paso 5", imagen: paso5.src, descripcion: "Creamos la clave del usuario root" },
    { titulo: "Paso 6", imagen: paso6.src, descripcion: "Creamos usuario" },
    { titulo: "Paso 7", imagen: paso7.src, descripcion: "Creamos contraseña del usuario" },
    { titulo: "Paso 8", imagen: paso8.src, descripcion: "Escogemos metodo de particionamiento manual" },
    { titulo: "Paso 9", imagen: paso9.src, descripcion: "Escogemos disco que vamos a particionar" },
    { titulo: "Paso 10", imagen: paso10.src, descripcion: "Creamos tabla de particiones" },
    { titulo: "Paso 11", imagen: paso11.src, descripcion: "Seleccionamos la tabla de particiones que creamos" },
    { titulo: "Paso 12", imagen: paso12.src, descripcion: "Creamos una particion" },
    { titulo: "Paso 13", imagen: paso13.src, descripcion: "Escogemos tamaño de la particion /swap" },
    { titulo: "Paso 14", imagen: paso14.src, descripcion: "Escogemos como usar la particion, en este caso swap" },
    { titulo: "Paso 15", imagen: paso15.src, descripcion: "Finalizamos la creacion de la particion /swap" },
    { titulo: "Paso 16", imagen: paso16.src, descripcion: "Escogemos tamaño de la particion /home" },
    { titulo: "Paso 17", imagen: paso17.src, descripcion: "Finalizamos la creacion de la particion /home" },
    { titulo: "Paso 18", imagen: paso18.src, descripcion: "Escogemos tamaño de la particion /" },
    { titulo: "Paso 19", imagen: paso19.src, descripcion: "Finalizamos la creacion de la particion /" },
    { titulo: "Paso 20", imagen: paso20.src, descripcion: "Finalizamos el particionamiento" },
    { titulo: "Paso 21", imagen: paso21.src, descripcion: "Seleccionamos si para escribir los cambios en el disco" },
    { titulo: "Paso 22", imagen: paso22.src, descripcion: "Deseleccionamos las opciones de escritorio debian y GNOME" },
    { titulo: "Paso 23", imagen: paso23.src, descripcion: "Seleccionamos el disco donde se instalara el arranque" },
    { titulo: "Paso 24", imagen: paso24.src, descripcion: "Terminamos la instalacion reiniciando el sistema" },
    { titulo: "Comprobacion de la conexion a internet", imagen: comprobacionInternet.src, descripcion: "Comprobamos la conexion usando el comando ping -c 4 debian.org" },
    { titulo: "Comprobacion de herramientas", imagen: comprobacionHerramientras.src, descripcion: "Comprobamos que las herramientas se instalaron correctamente" },
    { titulo: "Comprobacion de herramientas", imagen: comprobacionHerramientras2.src, descripcion: "Comprobamos que las herramientas se instalaron correctamente" },
    { titulo: "Esquema de particionamiento", imagen: esquema.src, descripcion: "Verificando esquema de particionamiento" },
];
---

<div class="flex flex-col justify-center items-center gap-4 w-full h-full bg-gray-950 pt-20 px-10" id="entrega2">
    <div class="text-center mb-5">
        <h1 class="text-center font-bold text-3xl text-heading mb-5">Entrega 2 actividad 1</h1>
        <p class="text-heading text-xl">En esta entrega veremos como instalar la distribucion de linux debian en entorno consola</p>
        <p class="text-heading text-xl">Dato curioso: Debian es la distribución más usada… sin que la gente lo sepa</p>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-4">
        <div class="flex flex-wrap justify-center items-center gap-4">
            {pasos.map(step => (
                    <CardPaso titulo={step.titulo} imagen={step.imagen} descripcion={step.descripcion} />
            ))}
        </div>
    </div>
    <a
            href="https://youtu.be/_0KFfIkGuD8"
            target="_blank"
            rel="noopener noreferrer"
            class="px-4 py-2 text-white bg-red-600 hover:bg-red-700 font-medium rounded-lg shadow transition-all"
    >
        Video Evidencia
    </a>
</div>