---
import paso1 from "../assets/Entrega1/elegir teclado.png"
import paso2 from "../assets/Entrega1/elegir idioma.png"
import paso3 from "../assets/Entrega1/empezar parcionamiento manual.png"
import paso4 from "../assets/Entrega1/menu desplegado.png"
import paso5 from "../assets/Entrega1/inicar editor.png"
import paso6 from "../assets/Entrega1/crear tabla.png"
import paso7 from "../assets/Entrega1/formatear.png"
import paso8 from "../assets/Entrega1/crear particion.png"
import paso9 from "../assets/Entrega1/particion boot.png"
import paso10 from "../assets/Entrega1/partcicion boot efi.png"
import paso11 from "../assets/Entrega1/opcion montar.png"
import paso12 from "../assets/Entrega1/montar particion.png"
import paso13 from "../assets/Entrega1/particion swap.png"
import paso14 from "../assets/Entrega1/particion raiz.png"
import paso15 from "../assets/Entrega1/particion home.png"
import paso16 from "../assets/Entrega1/volver instalacion.png"
import paso17 from "../assets/Entrega1/Continuamos la instalacion.png"
import paso18 from "../assets/Entrega1/sistema de particion.png"
import paso19 from "../assets/Entrega1/empezamos instalacion.png"
import paso20 from "../assets/Entrega1/finalizar instalacion.png"
import navegadores from "../assets/Entrega1/navegadores y editores.png"
import esquema from "../assets/Entrega1/esquema.png"

import CardPaso from "../components/CardsPasos.astro";

const pasos = [
    { titulo: "Paso 1", imagen: paso1.src, descripcion: "Elegimos el idioma del teclado" },
    { titulo: "Paso 2", imagen: paso2.src, descripcion: "Elegimos el idioma del sistema" },
    { titulo: "Paso 3", imagen: paso3.src, descripcion: "Damos click en los tres puntos" },
    { titulo: "Paso 4", imagen: paso4.src, descripcion: "Damos click en iniciar editor de almacenamiento" },
    { titulo: "Paso 5", imagen: paso5.src, descripcion: "Iniciamos el editor de almacenamiento" },
    { titulo: "Paso 6", imagen: paso6.src, descripcion: "Creamos una tabla de particiones" },
    { titulo: "Paso 7", imagen: paso7.src, descripcion: "Creamos una tabla de particiones GPT" },
    { titulo: "Paso 8", imagen: paso8.src, descripcion: "Creamos una particion" },
    { titulo: "Paso 9", imagen: paso9.src, descripcion: "Creamos la particion /boot" },
    { titulo: "Paso 10", imagen: paso10.src, descripcion: "Creamos la particiones /boot/efi" },
    { titulo: "Paso 11", imagen: paso11.src, descripcion: "Damos click en montar la particion /boot/efi" },
    { titulo: "Paso 12", imagen: paso12.src, descripcion: "Montamos la particion /boot/efi" },
    { titulo: "Paso 13", imagen: paso13.src, descripcion: "Creamos la particion /swap" },
    { titulo: "Paso 14", imagen: paso14.src, descripcion: "Creamos la particion raiz" },
    { titulo: "Paso 15", imagen: paso15.src, descripcion: "Creamos la particion /home" },
    { titulo: "Paso 16", imagen: paso16.src, descripcion: "Volvemos a la instalacion" },
    { titulo: "Paso 17", imagen: paso17.src, descripcion: "Damos continuar para seguir con la instalacion" },
    { titulo: "Paso 18", imagen: paso18.src, descripcion: "Usamos la tabla de particiones dando siguiente" },
    { titulo: "Paso 19", imagen: paso19.src, descripcion: "Empezamos la instalacion de fedora" },
    { titulo: "Paso 20", imagen: paso20.src, descripcion: "Terminamos la instalacion reiniciando el sistema" },
    {
        titulo: "Fedora funcionando correctamente",
        imagen: navegadores.src,
        descripcion: "Sistema fedora funcionando con 2 editores y 2 navegadores"
    },
    {
        titulo: "Esquema de particionamiento",
        imagen: esquema.src,
        descripcion: ""
    },
];
---

<div class="flex flex-col justify-center items-center gap-4 w-full h-full bg-gray-950 pt-20">
    <div class="text-center mb-5">
        <h1 class="text-center font-bold text-3xl text-heading mb-5">Entrega 1 actividad 1</h1>
        <p class="text-heading text-xl">En esta entrega veremos como instalar la distribucion de linux fedora</p>
        <p class="text-heading text-xl">Dato curioso: Linus Torvals usa esta distribucion de linux por su facil instalacion de programas y su buena funcionalidad</p>
    </div>
    <div class="flex flex-wrap justify-center items-center gap-4">
        <div class="flex flex-wrap justify-center items-center gap-4">
            {pasos.map(step => (
                    <CardPaso titulo={step.titulo} imagen={step.imagen} descripcion={step.descripcion} />
            ))}
        </div>
    </div>
</div>
